<% provide(:title, 'Conversations with notes on the side') %>
<section id="home">

  <div id="main-slider">
    <ul class="slides">
      <li>
        <div class="img-theme amaury"></div>
        <div class="flex-caption">
          <h1 class="title" style="color:#000;"><br>Amaury Soviche</h1>

          <div class="caption">
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>

</section>

<section id="amaury-overview">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-7 col-md-8">
        <h3 class="amaury-overview-title">Overview</h3>
        <div class="amaury-overview-text">
          I was born and grew up in Paris, France, and lived in Zurich, Switzerland for some years. I have had a special interest for code since highschool and am now focusing on smartphone apps development.
        </div>
      </div>
      <div class="col-xs-12 col-sm-5 col-md-4">
        <%= link_to image_tag("amaury1.jpg", alt: "Random"), '' %>
      </div>
    </div>
  </div>

</section>


<section id="camera-case">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <h3 class="camera-case-title">Waterproof universal camera case (2013)</h3>
        <div class="camera-case-text">
          Waterproof camera cases for pocket cameras and other smartphones are quite affordable nowadays. However for bigger reflex and bridge cameras, waterproof cases for deep immersion (more than 5m) are still remarquably expensive: prices start at around 2000$!<br>
          Most of these costs come from the fact that for each camera a specific mold has to be developped and complex manufacturing processed to add buttons and the closing system. <br>  
          We rethought every single feature of a professional camera case to end with a universal camera case that needed only one single type of mold for all camera types. All the controls are actuated thanks to magnetic fields and can be placed anywhere on the casing.<br><br>
          This means one single case for all professional cameras! The commercial price could be brought down to 300$ per case.
        </div>
      </div>
    </div>
  </div>
</section>
<section  style="background: #000;">
  <div class="row-fluid">
    <div class="col-xs-12 col-sm-6 col-md-6">
      <img alt="camera" src="/assets/camera1.jpg" />
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6">
      <img alt="camera" src="/assets/camera2.jpg" />
    </div>
  </div>
</div>

</section>




<section id="epfl">

  <div id="epfl-slider">
    <ul class="slides">
      <li>
        <div class="img-theme epfl"></div>
        <div class="flex-caption">
          <h1 class="title">Swiss Institute of Technology</h1>
          <div class="caption"></div>
          <div class="col-xs-0 col-sm-1 col-md-1"></div>
          <div class="col-xs-12 col-sm-10 col-md-10">
            <h2>Bsc in Robotics and Micro-Engineering</h2>
            <img alt="EPFL" src="/assets/epfl.jpg" />
          </ul>
        </div>
      </div>
    </div>
  </li>
</ul>
</div>
</section>





<section id="navigator">
  <div class="container clearfix">
    <div class="item">
      <div class="btn-circle active" id="btn-nav-home">
        <div class="inner">
          <%= link_to image_tag("blue-maple-leaf-logo.png", alt: "Random"), root_path %>
        </div>
      </div>
      <div class="btn-label">Home</div>
    </div>
    <div class="item">
      <div class="btn-circle " id="btn-nav-rights">
        <div class="inner">
          <%= link_to image_tag("icon.png", alt: "Random"), help_path %>
        </div>
      </div>
      <div class="btn-label">What's That ?</div>
    </div>

    <div class="item">
      <div class="btn-circle " id="btn-nav-rights">
        <div class="inner">
          <%= link_to image_tag("blue-maple-leaf-logo.png", alt: "Random"), charles_path %>
        </div>
      </div>
      <div class="btn-label">Charles</div>
    </div>
    <div class="item">
      <div class="btn-circle " id="btn-nav-rights">
        <div class="inner">
          <%= link_to image_tag("icon.png", alt: "Random"), signin_path %>
        </div>
      </div>
      <div class="btn-label">Sign in</div>
    </div>
    <div class="item">
      <div class="btn-circle " id="btn-nav-apps">
        <div class="inner">
          <%= link_to image_tag("icon.png", alt: "Random"), help_path %>
        </div>
      </div>
      <div class="btn-label">What's That ?</div>
    </div>
  </div>
</section>