<% provide(:title, 'Conversations with notes on the side') %>
<section id="home">

  <div id="main-slider">
    <ul class="slides">
      <li>
        <div class="img-theme aureline"></div>
        <div class="flex-caption">
          <h1 class="title">Auréline Grange (Lily)</h1>

          <div class="caption">
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>

</section>

<section id="aureline-overview">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-7 col-md-8">
        <h3 class="aureline-overview-title">Overview</h3>
        <div class="aureline-overview-text">
          I was born and grew up in Evian, France, in a mid-british, mid-french family. Along with my grand-parents living in Thailand and my mother being an English teacher, I traveled a lot through Thailand and the United States. During my academic cursus, I spent my third bachelor year in Canada, at the University of Waterloo, Ontario. I also wrote my Master thesis in a laboratory at Princeton University, New Jersey. I am a native speaker in French and English, and have a good basis in German and an elementary level in Spanish.
        </div>
      </div>
      <div class="col-xs-12 col-sm-5 col-md-4">
        <%= link_to image_tag("aureline1.jpg", alt: "Random"), '' %>
      </div>
    </div>
  </div>

</section>


<section id="onesnap">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-7 col-md-8">
        <h3 class="onesnap-title">Onesnap (2014)</h3>
        <div class="onesnap-text">
          Onesnap is a mobile payment system that can be used for fast and painless checkouts on eCommerce websites.<br>
          If you want to buy something on a website, just pull out your smartphone and scan the QR code on the screen. The checkout (shipping / billing addresses) and payment is done for you.<br>  
          You also get an instant confirmation on your smartphone and on the webpage.<br><br>
          With a single app you can pay on your computer, tablet, and on your phone (directly through the app this time).
        </div>
      </div>
      <div class="col-xs-12 col-sm-5 col-md-4">
        <img alt="Onesnap" src="/assets/onesnap-logo.png" />
      </div>
    </div>
  </div>

  <div class="col-xs-0 col-sm-1 col-md-2"></div>
  <div class="col-xs-12 col-sm-10 col-md-8">
    <img alt="Onesnap" src="/assets/onesnap-how-it-works.png" />
  </ul>
</div>

</section>


<section id="intown">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-5 col-md-4">
        <img alt="Intown" src="/assets/intown-logo.png" />
      </div>
      <div class="col-xs-12 col-sm-7 col-md-8">
        <h3 class="intown-title">Intown (2012)</h3>
        <div class="intown-text">
          Intown was a smartphone app project that won several prizes in startup idea contests. <br>The team was composed of Jean-Charles Gasche, Auréline Grange and Pablo Klemm. <br>
          Intown is a smartphone application that allows you to buy drinks and show tickets for your friends, wherever they are in the world. Let's imagine you are in Switzerland and hear about a friend being in New York. You now remember a really cool rooftop bar you went to and where the bartender did those incredible cocktails with Cognac and Martini! Your friend should definitely go to that bar! <br><br>
          (1) You pull out your phone, you select the bar in the app, and buy that precise cocktail in the list that appears.<br>
          (2) Your friend receives a QR code on his phone to present to the bartender.<br>
          (3) Your friend enjoys his drink!
        </div>
      </div>
    </div>
  </div>

  <div class="col-xs-0 col-sm-1 col-md-1"></div>
  <div class="col-xs-12 col-sm-10 col-md-10">
    <img alt="Intown" src="/assets/intown-how-it-works.png" />
  </ul>
</div>

</section>


<section id="princeton">

  <div id="princeton-slider">
    <ul class="slides">
      <li>
        <div class="img-theme princeton"></div>
        <div class="flex-caption">
          <h1 class="title">Princeton University</h1>
          <div class="col-xs-0 col-sm-1 col-md-1"></div>
          <div class="col-xs-12 col-sm-10 col-md-10">
          <h2 style= "margin-bottom: 5px;">Master Thesis</h2>
          <div class= "caption" style= "text-align: center; margin-bottom: 15px;">Flash-floods hydrological modeling</div>
          <img alt="Princeton" src="/assets/princeton1.jpg" />
          </ul>
        </div>
      </div>
    </div>
  </li>
</ul>
</div>
</section>


<section id="epfl">

  <div id="epfl-slider">
    <ul class="slides">
      <li>
        <div class="img-theme epfl"></div>
        <div class="flex-caption">
          <h1 class="title">Swiss Institute of Technology</h1>
          <div class="col-xs-0 col-sm-1 col-md-1"></div>
          <div class="col-xs-12 col-sm-10 col-md-10">
          <h2 style= "margin-bottom: 5px;">BSc and MSc</h2>
          <div class= "caption" style= "text-align: center; margin-bottom: 15px;">Environmental Engineering</div>

          <img alt="EPFL" src="/assets/epfl.jpg" />
          </ul>
        </div>
      </div>
    </div>
  </li>
</ul>
</div>
</section>



<section id="navigator">
  <div class="container clearfix">
    <div class="item">
      <div class="btn-circle active" id="btn-nav-home">
        <div class="inner">
          <%= link_to image_tag("blue-maple-leaf-logo.png", alt: "Random"), root_path %>
        </div>
      </div>
      <div class="btn-label">Home</div>
    </div>
    <div class="item">
      <div class="btn-circle " id="btn-nav-rights">
        <div class="inner">
          <%= link_to image_tag("icon.png", alt: "Random"), help_path %>
        </div>
      </div>
      <div class="btn-label">What's That ?</div>
    </div>

    <div class="item">
      <div class="btn-circle " id="btn-nav-rights">
        <div class="inner">
          <%= link_to image_tag("blue-maple-leaf-logo.png", alt: "Random"), charles_path %>
        </div>
      </div>
      <div class="btn-label">Charles</div>
    </div>
    <div class="item">
      <div class="btn-circle " id="btn-nav-rights">
        <div class="inner">
          <%= link_to image_tag("icon.png", alt: "Random"), signin_path %>
        </div>
      </div>
      <div class="btn-label">Sign in</div>
    </div>
    <div class="item">
      <div class="btn-circle " id="btn-nav-apps">
        <div class="inner">
          <%= link_to image_tag("icon.png", alt: "Random"), help_path %>
        </div>
      </div>
      <div class="btn-label">What's That ?</div>
    </div>
  </div>
</section>