<% provide(:title, 'Conversations with notes on the side') %>
<section id="home">

  <div id="main-slider">
    <ul class="slides">
      <li>
        <div class="img-theme charles"></div>
        <div class="flex-caption">
          <h1 class="title" style="color:#00B2EE;">Jean-Charles Gasche </h1>
          <h1 class="title" style="color:#00B2EE;">(Charles)</h1>
          <div class="caption"></div>
        </div>
      </div>
    </li>
  </ul>
</div>
</section>

<section id="charles-overview">
  <div class="row-fluid">
  <div class="col-xs-12 col-sm-7 col-md-4">
  </div>
    <div class="col-xs-12 col-sm-7 col-md-4" style="margin-left:auto; margin-right:auto">
    <div class="caption">Days.each do |day| <br></div>
      <img alt="Charles" src="/assets/charles1.jpg"/>
    </div>
  </div>
</section>

<section id="charles-overview">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-7 col-md-12">

        <h3 class="charles-overview-title">Overview</h3>
        <div class="charles-overview-text">
          I have graduated with a Bachelor degree in Robotics and Micro-Engineering (Which means engineering of small things, like mechanical or quartz watches, robot vacuum cleaners or even regular blenders) from the Swiss Institute of Technology in Lausanne.<br>
          I am currently supposed to be attending classes for a Master degree in production technologies and management.<br>
          I have started coding at the age of 12, first to install games on my Texas Instruments graphic calculator, then in C to try to find a statistical way to win the lottery.<br>
          My other passion is horse-riding, and particularly polo, which I had to put in parentheses to focus on my studies and making me a situation.<br><br>
          My next plans in life are to move to California. I like to think that I have a certain sense of design, more colorful and unconventional than the nowadays black and white standard. I have now developped my coding skills toward higher level languages, Objective-C, Javascript, Python, Ruby, Rails and Matlab.<br><br>
          I would be glad to hear about any interesting idea or project. If you would like to contact me, feel free to use this website!
        </div>
      </div>
    </div>

  </div>

</section>


<section id="onesnap">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-7 col-md-8">
        <h3 class="onesnap-title">Onesnap (2014)</h3>
        <div class="onesnap-text">
          Onesnap is a mobile payment system that can be used for fast and painless checkouts on eCommerce websites.<br>
          If you want to buy something on a website, just pull out your smartphone and scan the QR code on the screen. The checkout (shipping / billing addresses) and payment is done for you.<br>  
          You also get an instant confirmation on your smartphone and on the webpage.<br><br>
          With a single app you can pay on your computer, tablet, and on your phone (directly through the app this time).
        </div>
      </div>
      <div class="col-xs-12 col-sm-5 col-md-4">
        <img alt="Onesnap" src="/assets/onesnap-logo.png" />
      </div>
    </div>
  </div>

  <div class="col-xs-0 col-sm-1 col-md-2"></div>
  <div class="col-xs-12 col-sm-10 col-md-8">
    <img alt="Onesnap" src="/assets/onesnap-how-it-works.png" />
  </ul>
</div>

</section>


<section id="intown">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-5 col-md-4">
        <img alt="Intown" src="/assets/intown-logo.png" />
      </div>
      <div class="col-xs-12 col-sm-7 col-md-8">
        <h3 class="intown-title">Intown (2012)</h3>
        <div class="intown-text">
          Intown was a smartphone app project that won several prizes in startup idea contests. <br>The team was composed of Jean-Charles Gasche, Auréline Grange and Pablo Klemm. <br>
          Intown is a smartphone application that allows you to buy drinks and show tickets for your friends, wherever they are in the world. Let's imagine you are in Switzerland and hear about a friend being in New York. You now remember a really cool rooftop bar you went to and where the bartender did those incredible cocktails with Cognac and Martini! Your friend should definitely go to that bar! <br><br>
          (1) You pull out your phone, you select the bar in the app, and buy that precise cocktail in the list that appears.<br>
          (2) Your friend receives a QR code on his phone to present to the bartender.<br>
          (3) Your friend enjoys his drink!
        </div>
      </div>
    </div>
  </div>

  <div class="col-xs-0 col-sm-1 col-md-1"></div>
  <div class="col-xs-12 col-sm-10 col-md-10">
    <img alt="Intown" src="/assets/intown-how-it-works.png" />
  </ul>
</div>

</section>




<section id="epfl">

  <div id="epfl-slider">
    <ul class="slides">
      <li>
        <div class="img-theme epfl"></div>
        <div class="flex-caption">
          <h1 class="title">Swiss Institute of Technology</h1>
          <div class="caption"></div>
          <div class="col-xs-0 col-sm-1 col-md-1"></div>
          <div class="col-xs-12 col-sm-10 col-md-10">
            <h2>Bsc in Robotics and Micro-Engineering</h2>
            <img alt="EPFL" src="/assets/epfl.jpg" />
          </ul>
        </div>
      </div>
    </div>
  </li>
</ul>
</div>
</section>



<section id="navigator">
  <div class="container clearfix">
    <div class="item">
      <div class="btn-circle active" id="btn-nav-home">
        <div class="inner">
          <%= link_to image_tag("blue-maple-leaf-logo.png", alt: "Random"), root_path %>
        </div>
      </div>
      <div class="btn-label">Home</div>
    </div>
    <div class="item">
      <div class="btn-circle " id="btn-nav-rights">
        <div class="inner">
          <%= link_to image_tag("icon.png", alt: "Random"), help_path %>
        </div>
      </div>
      <div class="btn-label">What's That ?</div>
    </div>

    <div class="item">
      <div class="btn-circle " id="btn-nav-rights">
        <div class="inner">
          <%= link_to image_tag("blue-maple-leaf-logo.png", alt: "Random"), aureline_path %>
        </div>
      </div>
      <div class="btn-label">Aureline</div>
    </div>
    <div class="item">
      <div class="btn-circle " id="btn-nav-rights">
        <div class="inner">
          <%= link_to image_tag("icon.png", alt: "Random"), signin_path %>
        </div>
      </div>
      <div class="btn-label">Sign in</div>
    </div>
    <div class="item">
      <div class="btn-circle " id="btn-nav-apps">
        <div class="inner">
          <%= link_to image_tag("icon.png", alt: "Random"), help_path %>
        </div>
      </div>
      <div class="btn-label">What's That ?</div>
    </div>
  </div>
</section>