<% provide(:title, "Sign in") %>
<section>
  <div class="row-fluid">
    <h2 class="conv-title" style="margin-bottom:25px;">Sign in please ! :)</h2>
      <div class="span4 offset4">
        <%= form_for(:session, url: sessions_path) do |f| %>

        <%= f.label :email%>
        <%= f.text_field :email , class: "form-control",  id: "input_to_be_loaded"%>

        <%= f.label :password %>
        <%= f.password_field :password , class: "form-control"%>
        <div class= "subtitle">
        <%= f.submit "Sign in", class: "btn btn-large btn-info" %>
        </div>
        <% end %>

        <div class= "subtitle" style="text-align: center; margin-top:15px;">New user? </div>
        <%= link_to "Sign up now!", signup_path , class: "btn btn-signup"%>
    </div>
  </div>
</section>



<div id="half-slider">
  <ul class="slides">
    <li>
      <div class="img-theme show"></div>
      <div class="flex-caption"></div>
    </div>
  </li>
</ul>
</div>
