<% provide(:title, "Edit user") %>
<section>
    <h2>Update your profile</h2>

    <div class="row-fluid">
        <div class="span4 offset2">
            <%= form_for(@user) do |f| %>
            <%= render 'shared/error_messages', object: f.object %>

            <%= f.label :name %>
            <%= f.text_field :name , class: "form-control"%>

            <%= f.label :email %>
            <%= f.text_field :email , class: "form-control"%>

            <%= f.label :password %>
            <%= f.password_field :password , class: "form-control"%>

            <%= f.label :password_confirmation, "Confirm Password" %>
            <%= f.password_field :password_confirmation , class: "form-control"%>

            <%= f.submit "Save changes", class: "btn btn-info" %>
            <% end %>
        </div>
        <div class="span5">
            <div class="subtitle" style="text-align: center; margin-bottom: 25px">Your profile picture</div>
            <div class="span12" style="margin-left:auto; margin-right:auto;">
            <%= gravatar_for @user , options = { size: 350}%>
            </div>
            <%= link_to "Change", "http://gravatar.com/emails", :target => "_blank", class: "btn btn-secondary" %>
        </div>
    </div>
</section>

