<div id= "conversation_info">
	<h3 class= "usernames">
	<%= link_to gravatar_for(@user, size: 45), @user.name %> With: <%=@user.name%> (<%=@user.email%>).
	<%= form_for(@recipient) do |f| %>
	<%= f.hidden_field :recipient_id, :value => @user.id %>
	<%end%>
	</h3>
</div>