<li id="<%= feed_item.id %>">
  <%= link_to gravatar_for(feed_item.user), feed_item.user %>
  <span class="user">
    <%= link_to feed_item.user.name, feed_item.user %>
  </span>
  <span class="content"><%= link_to feed_item.content, feed_item.user %></span>
  <span class="timestamp">Written <%= time_ago_in_words(feed_item.created_at) %> ago.</span>
  <%= form_for(@micropost, remote: true, :method => :POST) do |f| %>
  <%= f.hidden_field :recipient_id, :value => feed_item.user_id %>
  <%= f.hidden_field :is_note, :value => true %>
  <%= f.hidden_field :content, :value => feed_item.content << "\n \n"<< current_user.notes(feed_item.user).first.content.to_s%>
  <%= f.submit "Pin to the notes", class: "btn-pin-notes", style: "float: none; " %>
  <% end %>
</li>


