<li id="<%= feed_item.id %>">
  <%= link_to gravatar_for(feed_item.user), feed_item.user %>
    <span class="user">
      <%= link_to feed_item.user.name, feed_item.user %>
    </span>
    <span class="content"><%= link_to feed_item.content, feed_item.user.name %></span>
    <span class="timestamp">Written <%= time_ago_in_words(feed_item.created_at) %> ago.</span>
    <%= link_to "pin this to the notes", pin_path, remote: true, style: "color:#00B2EE; font-size:10px;" %>
</li>


