

<div class= "notes-form">
<%= form_for(@micropost, remote: false, :method => :POST) do |f| %>
<%= f.hidden_field :recipient_id, :value => @user.id %>
<%= f.hidden_field :is_note, :value => true %>

<%= render 'shared/error_messages', object: f.object %>
<div class="field">
	<%= f.text_area :content, value: @notes_item.content.to_s, class: "form-control-notes", rows: "10", onKeyPress: "return submitenter(this,event)" %>
</div>
<%= f.submit "Save", class: "btn btn-info btn-block", style: "float: right; " %>

<% end %>

</div>

