  <header id="header">
    <div class="container">
      <nav class="navbar" role="navigation">
        <div class="navbar-header" style="position:relative;">
          <% if signed_in? %> 
          <%= link_to "whatsnapp//", root_path, id: "logo" %>
          <%= link_to current_user.name, current_user, class: "usernametitle" %>        
          <% else %>
          <%= link_to "whatsnapp", root_path, id: "logo" %>      
          <% end %>
          <button type="button" class="navbar-toggle" id="navbar-toggle">
            <span class="fa fa-bars"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="navbar-nav navbar-left" id="navbar-collapse">
            <li><%= link_to "Home", root_path %></li>
            <li class="delimiter">&nbsp;</li>
            <li><%= link_to "Help", help_path %></li>
            <li class="delimiter">&nbsp;</li>
            <% if signed_in? %>
            <li><%= link_to "Users", users_path %></li>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Account <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Profile", current_user %></li>
                <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Sign out", signout_path, method: "delete" %>
                </li>
              </ul>
            </li>
            <% else %>
            <li><%= link_to "Sign in", signin_path %></li>
            <% end %>                
          </ul>
          <ul class="navbar-nav navbar-right">

            <li><%= link_to "Sign up now!", signup_path, class: "start-claim" %> </li>
            </ul>
          </div>
        </nav>

        <aside id="sidebar" role="sidebar-primary" class="sidebar">
          <div class="sidebar-inner">
            <ul>
              <li><%= link_to "Home", root_path %></li>
              <li><%= link_to "Help", help_path %></li>
              <% if signed_in? %>
              <li><%= link_to "Users", users_path %></li>
              <li><%= link_to "Profile", current_user %></li>
              <li><%= link_to "Settings", edit_user_path(current_user) %></li>
              <li><%= link_to "Sign out", signout_path, method: "delete" %></li>
              <% else %>
              <li><%= link_to "Sign in", signin_path %></li>
              <% end %> 
            </ul>
          </div>
        </aside>

      </div>
    </header>